.LargeDiscordParent {
    width: 40svw;
    height: 10svh;
    margin: 10px auto;

    border-radius: 5px;
    background-color: var(--discord-bg);

    box-shadow: 0 0 10px 0px var(--discord-shadow);

    display: flex;
    justify-content: space-around;
    align-items: center;

    cursor: pointer;
    color: var(--discord-text-color);
}

.dclargeicon {
    font-size: 5rem;
    height: 100%;
    display: grid;
    place-items: center;
}

.dclargetext {
    font-family: 'Jost', 'comic sans ms';
    font-size: 2rem;
}

.dclargeouticon {
    font-size: 2rem;
}

@media screen and (max-width: 1200px) {
    .LargeDiscordParent {
        width: 75svw;
    }

    .dclargeicon {
        font-size: 3rem;
    }

    .dclargeouticon {
        font-size: 1rem;
    }
}

@media screen and (max-width:500px) {
    .LargeDiscordParent {
        width: 85svw;
    }

    .dclargetext {
        font-size: 1.4rem;
    }

    .dclargeicon {
        font-size: 2rem;
    }
}