.footerparent{
    width: 100svw;
    height: 20svh;
    background: var(--footer-background);

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footerlgi{
    width: 5svw;
    /* height: 10svh; */
}
.footerlinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}
.footicon{
    color: #e2daad;
    font-size: 4rem;
}
.footlink *:hover{
    filter: drop-shadow(0 0px 4px var(--footer-links-on-hover));
}
.footersmack{
    width: 5svw;
    aspect-ratio: 3/3;
}
.footerlogos{
    display: flex;  
    gap: 2svw;
}
@media screen and (max-width: 1024px) {
    .footersmack{
        width: 10svw;
    }
    .footerlgi{
        width: 10svw;
    }
    .footicon{
    font-size: 2rem;
    }
    .footerparent{
        width: 100svw;
        justify-content: space-between;
    }
    .footerlinks{
        width: 50%;
    }
}
@media screen and (max-width: 500px) {
}
@media screen and (max-height:550px) {
    .footerlgi{
        width: 6svw;
    }
    .footicon{
        font-size: 1rem;
    }
    .footersmack{
        width: 7svw;
    }
}