.footerparent{
    width: 100svw;
    height: fit-content;
    min-height: 17.5svh;
    background: var(--footer-background);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1svh;

    z-index: 999;
}
.footerlgi{
    width: 5svw;
    /* height: 10svh; */
}
.footerlinks{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1svw;
    width: 50svw;
    margin-bottom: 1svh;
}    
.footlink{
    color: #f59e0b !important;
    font-weight: 600;
    font-family: var(--font);
    display: flex;
    align-items: center;
    gap: .1rem;
    height: 100%;
    font-family: var(--font-footer);
}
.footlink svg{
    font-size: 1.2rem;
}
.footicon{
    color: #e2daad;
    font-size: 4rem;
}
.footlink *:hover{
    filter: drop-shadow(0 0px 4px var(--footer-links-on-hover));
}
.footerlogo{
    width: 5svw;
    aspect-ratio: 3/3;
    /* filter: drop-shadow(0 0 5px white); */
}
.footerlogos{
    display: flex;  
    justify-content: center;
    gap: 2svw;
    max-width: 30svw;
}
#privacyBtn{
    border-left: 2px solid #0077ff;
    border-radius: 0;
    padding-left: 1svw;
    color: #fff !important;
    cursor: pointer;
}
.socials{
    display: flex;
    gap: 1rem;
}
@media screen and (max-width: 1024px) {
    .footerlogo{
        width: 15svw;
    }
    .footlink{
        font-size: .9rem;
    }
    .footerlgi{
        width: 10svw;
    }
    .footicon{
        font-size: 2rem;
    }
    .footerparent{
        width: 100svw;
        justify-content: space-between;
    }
    .footerlinks{
        width: 95%;
        flex-direction: column;
        gap: 1svh;
        margin-bottom: 4svh;
    }
    .footerlogos{
        width: 100svw;
        margin-top: 1svh;
    }
}
@media screen and (max-width: 500px) {
}
@media screen and (max-height:550px) {
    .footerlgi{
        width: 6svw;
    }
    .footicon{
        font-size: 1rem;
    }
    .footerlogo{
        width: 7svw;
    }
}