*{
    margin: 0;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--home-main-heading-bg);
    height: fit-content;
    width: 100svw;
} 
.maintitle{
    margin-top: 5svh;
    color: rgb(31, 30, 30);
    font-size: 10rem;
    font-family: var(--font-freshman);
}
.subtitle{
    color: rgb(31, 30, 30);
    font-size: 3rem;
    font-family: "Cedarville Cursive", cursive;
    /* font-family: var(--font-poppin); */
}
.page-details{
    color: rgb(31, 30, 30);
    margin: 3svh;
    font-size: 1.4rem;
    font-family: var(--font);
    width: 75svw;
    font-family: var(--font-poppin);
}
.Brief{
    font-family: var(--font);
    width: 75svw;
    margin: 30px auto;
    color: var(--brief-text-color);
    z-index: 10;
    background: var(--brief-background-color);
    padding: 5svh 5svw;
    border-radius: 10px;
}
.briefBG{
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    left: 10%;
    width: 78svw;
    height: 33svh;
    transform: skewX(4deg) ;
    border-radius: 10px;
}
.briefTitle{
    text-align: center;    
    font-size: 3rem;
    font-weight: 600;
}
.briefSub{
    text-align: center;    
    font-size: 2rem;
    font-weight: 600;
}
.briefdetail{
    text-align: center;    
    font-size: 1rem;
    font-weight: 500;
}
@media screen and (max-width: 1200px) {
    .briefBG{
        width: 85svw;
        height: 45svh;
        left: 10%;
    }
}
@media screen and (max-width: 600px) {
    .page-details{
        font-size: 1rem;
    }
    .maintitle{
        font-size: 5rem;
    }
    .subtitle{
        font-size: 2rem;
    }
    .briefBG{
        width: 85svw;
        height: 60svh;
        left: 10%;  
    }
}
