*{
    margin: 0;
}
.menuButton{
    display: none;
}
.nav-parent{
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 11%;
    
    
    box-shadow: 0 0 15px black;
    background: #4b4a4a ;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.titlebox{
    display: flex;
    align-items: center;

    /* background-color: aqua; */
}
.title{
    /* background: darksalmon; */
    font-family: "Jost", sans-serif;
    font-size: 8svw;
    width: 100%;
}
.logo{
    width: 7.5svw;
}

.nav-buttons{
    display: flex;  
    gap: 4px;
}
.nav-buttons *{
    background-color: transparent;
}
.nav-buttons *:hover{
    background-color: #1a1a1a;
    outline: none;
}
.nav-buttons *[data-active=true]{
    background:white;
    color: #000;
}
.title{
    display: none;
}
@media screen and (max-width: 1024px) {
    a{
        width: fit-content;
    }

    .title{
        display: block;
    }

    .menuButton{
        z-index: 13;
        display: block;
        font-size: 1.5rem;
    }
    .logo{
        width: 10svw;
        max-height: 10svh;
    }
    .nav-buttons[data-active=false]{
        display: none;
    }
    .nav-buttons{
        z-index: 10;
        background-color: #000000de;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        position: fixed;
        width: 100svw;
        height: 100svh;
        display: flex;
        flex-direction: column;
        padding: 10svh 10svw;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 500px) {
    .logo{
        width: 25svw;
        max-height: 10svh;
    }
    .menuButton{
        font-size: 2rem;
    }
    .nav-buttons{
        width: 100%;
        height: 100%;
    }
    .nav-buttons *{
        font-size: 1.3rem;
    }
}

@media screen and (max-height:550px) {
    .title{
        font-size: 1.3rem;
    }
    .logo{
        width: 15svw;
        max-height: 10svh;
    }
    .menuButton{
        font-size: 1rem;
    }
    .nav-buttons {
        gap: 1px;
    }
    .nav-buttons *{
        font-size: .5rem;
        border-radius: 2px;
    }
    ::-webkit-scrollbar{
        width: 4px !important;
    }
}