.privacyParent {
    background-color: var(--privacy-bg);
    text-align: left;
    padding: 2svh 5svw;
    margin: 5svh auto;
    border-radius: 5px;
    color: #000;
    font-family: 'Jost', 'comic sans ms';
    text-align: justify;
}

.privacyParent h1 {
    text-align: center;
    position: relative;
    margin-bottom: 10svh;
    z-index: 9;
}

.privacyParent p {
    position: relative;
    z-index: 9;
}

.privacyParent h1::before {
    content: "";
    z-index: -1;
    display: block;
    position: absolute;
    width: 30svw;
    height: 20svh;
    background-color: var(--privacy-title-bg);
    border-radius: 5px;
    transform: skewY(-9deg);
    top: -100%;
    left: 24%;
}

.privacyParent h2 {
    text-align: center;
}

.privacyParent h3 {
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .privacyParent {
        width: 55svw;
    }
}
@media screen and (max-width: 1200px){
    .privacyParent h1::before {
        width: 40svw;
        height: 2   0svh;
        left: 27%;
    }
}
@media screen and (max-width: 1024px) {
    .privacyParent {
        width: 65svw;
    }

    .privacyParent h1::before {
        height: 20svh;
        width: 60svw;
        left: 1%;
    }
}

@media screen and (max-width: 500px) {
    .privacyParent {
        width: 85svw;
    }

    .privacyParent h1 {
        margin-bottom: 10svh;
    }

    .privacyParent h1::before {
        height: 15svh;
        width: 85svw;
        top: -45%;
        left: 0%;
    }
}