.PurchaseParent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 75%;
    height: 90%;
    background: var(--purchase-background);
    border: 5px solid var(--purchase-border-color);
    box-shadow: 0 0 20svw 5svw var(--purchase-outer-glow);
    z-index: 999;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
}

.ticket-details {
    height: 100%;
    width: 70%;

    background: var(--purchase-ticket-detail-bg);
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: flex-start;
    gap: 1svh;

    overflow-y: auto;
    text-align: left;
}

.order-details {
    width: 30%;
    height: 99%;
    border-left: 2px solid var(--purchase-border-color);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: inset 0 0 5svw black;
    padding: 5px;

    display: flex;
    flex-direction: column;
}

.order-title {
    margin-top: 1svh;
    font-family: 'Jost', 'comic sans ms';
    font-size: 1.5rem;
    width: 100%;
    min-height: 5%;
}

.pack-details {
    width: 100%;
    height: 70%;
    font-family: var(--font);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1svh;
    color: var(--purchase-pack-details-text);

}

.order-btns {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.order-btn {
    width: 90%;
    height: 35%;
    font-size: 1.1rem;
    font-family: var(--font);
    border: 2px solid #fff;
}

#server-btn {
    background: var(--purchase-server-btn-background);
}

#channel-btn {
    /* background: var(--purchase-channel-btn-background); */
    /* border: 2px solid #fff; */
    width: 90%;
}


.packName {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.detailTitle {
    font-weight: 400;
    font-size: .9rem;
    text-decoration: underline;
}

.packPrice {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 600;
}

.detailPriceBlock {
    border-radius: 3px;
    padding: 2px 5px;
    width: 8svw;
}

.ticket-creation-title {
    font-size: 2rem;
    font-family: var(--font);
    font-weight: 600;
    text-align: center;
}

.ticket-step-block {
    margin-top: 2svh;
    font-family: var(--font);
    /* background: #000; */
    padding: 1svh;
    margin: 2svh;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: inset 0 0 2svw #000;
    padding: 1svw;

    display: flex;
    flex-direction: column;
    gap: 3svh;
}

.ticket-step-title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.nonDiscount{
    background-color: rgba(0, 128, 0, 0.726);
    padding: 4px;
    border-radius: 5px;
    border: 3px dashed rgb(43, 167, 43);
}

.ticket-step-detail {
    font-size: 1.4rem;
}

.joindcimg {
    width: 50% ;
    border-radius: 15px;
    border: 2px solid white;
}

.flex-space-around {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-space-around div {
    width: 50%;
}

.w-100 {
    width: 100% !important;
}

.dctag {
    background: #3d416e;
    color: #b6bae6;
    padding: 2px;
    border-radius: 5px;
    width: fit-content !important;
}

.openTicketImg {
    width: 40%;
}

.border-2-w {
    border-radius: 5px;
    border: 2px solid #fff;
}

.packdesc {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-size: .9rem;
}

#how-to-buy-btn {
    display: none;
}

.red {
    color: #a3e635;
}

.purchaseCloseBtn {
    position: fixed;
    top: 5svh;
    right: 5svw;
    z-index: 9999;
    box-shadow: 0 0 1svw #338abd;
    background: #023350;
    border: 2px solid white;
}

.closeI {
    display: none;
}

.closeT {
    display: flex;
}
.packThumbnail{
    aspect-ratio: 20/29;
    width: 35%;
    border-radius: 5px;
    margin: 0 auto;
}
.strike{
    text-decoration: line-through;
    color: #f95616;
    font-size: .8rem;
}


.discountBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 5px;
    background: rgba(0, 128, 0, 0.726);
    width: 10svw;
}
.discountSection{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.priceDisplay{
    width: 60%;
    padding: 3px;
    height: 100%;
    border-left: 2px dashed #fff;
}

.currencySelect{
    width: fit-content;
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 2px;
}

@media screen and (max-width: 1200px) {
    .purchaseCloseBtn {
        top: 3svh;
        right: 1svw;
        height: 6.5svh;
        width: 5svw;
    }

    .closeI {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        place-items: center;
        font-size: 1.3rem;
    }

    .closeT {
        display: none;
    }

    .closeI {
        display: grid;
    }

    .toggler {
        display: none;
    }

    .order-btn {
        height: 25%;
    }

    .order-btns {
        height: 50%;
    }

    .PurchaseParent {
        flex-direction: column-reverse;
    }

    .order-details {
        width: 98%;
        /* box-shadow: none; */
        border-radius: 6px;
    }

    .ticket-details {
        width: 75%;
        overflow-x: hidden;
    }

    .ticket-step-title {
        font-size: 1.5rem;
    }

    .ticket-step-detail {
        font-size: 1rem;
        flex-direction: column;
    }

    .ticket-step-detail div {
        width: 98%;
    }

    .joindcImageView {
        width: 95%;
    }

    .openTicketImg {
        width: 95%;
    }

    #how-to-buy-btn {
        display: block;
    }

    #channel-btn {
        height: fit-content;
    }
    .packThumbnail{
        width: 20%;
    }
    .discountBlock{
        width: 20svw;
    }
}


@media screen and (max-width: 900px) {

    .PurchaseParent {
        flex-direction: column-reverse;
    }

    .order-details {
        width: 98%;
        /* box-shadow: none; */
        border-radius: 6px;
    }

    .ticket-details {
        width: 100% !important;
        overflow-x: hidden;
    }

    .ticket-step-title {
        font-size: 1.5rem;
    }

    .ticket-step-detail {
        font-size: 1rem;
        flex-direction: column;
    }

    .ticket-step-detail div {
        width: 98%;
    }

    .joindcImageView {
        width: 95%;
    }

    .openTicketImg {
        width: 95%;
    }

    #channel-btn {
        padding: 10px;
    }
    .discountBlock{
        width: 100%;
        height: 100%;
    }
    .discountSection{
        font-size: .9rem;
    }
    .strike{
        font-size: .7rem;
    }
    .packPrice{
        justify-content: space-around;
    }
    .detailPriceBlock{
        width: 50%;
    }
    .price{
        font-size: .9rem;
    }
    .priceDisplay{
        height: 90%;
    }
}

@media screen and (max-height: 750px) {
    .pack-details {
        height: 50%;
    }

    .order-btns {
        height: 40%;
    }

    .order-btn {
        font-size: 1rem;
        padding: 0;
    }
}

@media screen and (min-height: 1000px) {
    #server-btn {
        height: fit-content !important;
    }

    .order-btn {
        font-size: 1.3rem;
    }

    .pack-details * {
        font-size: 1.2rem;
    }
    
}

@media only screen and (min-device-width : 820px) and (max-device-width : 1180px) {

    .PurchaseParent {
        flex-direction: column-reverse;
    }

    .order-details {
        width: 98%;
        /* box-shadow: none; */
        border-radius: 6px;
    }

    .ticket-details {
        width: 100% !important;
        overflow-x: hidden;
    }

    .ticket-step-title {
        font-size: 1.5rem;
    }

    .ticket-step-detail {
        font-size: 1rem;
        flex-direction: column;
    }

    .ticket-step-detail div {
        width: 98%;
    }

    .joindcImageView {
        width: 95%;
    }

    .openTicketImg {
        width: 95%;
    }

    #channel-btn {
        padding: 10px;
    }
    .toggler {
        display: none;
    }
    #how-to-buy-btn{
        display: block;
        font-size: 1rem;
        height: 5svh;

    }
    .packThumbnail{
        width: 25%;
    }

}