.show {
    display: block;
}

.hide {
    display: none;
}

.item {
    margin: 0 auto;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.displaybox {
    position: relative;
    margin: 5svh auto;
    display: flex;
    width: fit-content;
    padding: 0px 30px;
    height: 80svh;
    border: 5px solid var(--home-display-border);
    border-radius: 10px;
    background-color: var(--home-display-main-background);
}
.image-scroller{
    width: 100%;
    height: 10svh;
    overflow-x: auto;
    overflow-y: hidden;

    background: rgba(128, 128, 128, 0.39);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.scrollerItem{
    aspect-ratio: 16/9;
    width: 25%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover !important;
    border: 1px solid #fff;
    margin-left: 5px;
    border-radius: 5px;
}
.scrollerItem[data-active="true"]
{
    opacity: .7;
    background-color: black;
    font-size: 2rem;
    display: grid;
    place-items: center;
}
.img-container{
    max-width: 36svw;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-scroller::-webkit-scrollbar{
    height: 5px ;
}
.image-scroller::-webkit-scrollbar-thumb{
    background-color: #fff;
}
.slideitem {
    border-radius: 10px;
    height: 40svh;
    transition: all ease 500ms;
    width: fit-content;
    padding: 4px;
}
.showcase{
    display: flex;
    flex-direction: column;
    gap: 2svh;
}
.thumbnail {
    aspect-ratio: 20/29;
    height: 65svh;
    border-radius: 20px;
}


.dropswitches {
    display: none;
}

.slideshow {
    position: relative;
    border-radius: 10px;
    border: 2px solid rgb(158, 154, 154);

}

.showTitle {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Jost', 'comic sans ms';
}


.buy-btn {
    align-items: center;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Jost", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 54px;
    justify-content: center;
    letter-spacing: .4px;
    line-height: 1;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.buy-btn:active {
    outline: 0;
}

.buy-btn:hover {
    outline: 0;
}

.buy-btn span {
    transition: all 200ms;
}

.buy-btn:hover span {
    transform: scale(.9);
    opacity: .75;
}



@media screen and (max-width: 991px) {
    .buy-btn {
        font-size: 15px;
        height: 50px;
    }

    .buy-btn span {
        line-height: 50px;
    }
}

.switches {
    /* background-color: antiquewhite; */
    position: absolute;
    top: -3%;
    transform: translate(-50%, 0);
    left: 50%;
    width: 40svw;
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: var(--home-display-border);
    padding: 10px;
    gap: 2svw;
}

.switch {
    font-family: 'Jost', 'comic sans ms';
    cursor: pointer;
    border: 1px solid var(--home-display-pack-select-button-border);
    color: var(--home-display-pack-select-button-color);
    padding: 4px 45px;
    border-radius: 35px;
    transition: all ease 500ms;
}

.switch[data-active="true"] {
    background-color: var(--home-display-pack-select-button-bg);
    color: var(--home-display-pack-select-button-active-color);
    transition: all ease 500ms;
}

@media screen and (max-width: 1024px) {
    .switches {
        width: 25svw;
        display: block;
    }

    .thumbnail {
        width: 27svw;
        height: 50svh;
    }

    .slideitem {
        width: 60svw;
    }

    .switch {
        display: none;
    }

    .dropswitches {
        display: block;
    }

    .dropswitches select {
        width: 100%;
        height: 100%;
        font-size: 1.4em;
        border: none;
        outline: none;
        background-color: rgb(95, 94, 94);
        text-align: center;
    }

    .img-container{
        max-width: 85svw;
    }

    .thumbnail {
        margin-top: 5svh ;
        width: 30svh;
        height: auto;
    }

    .item {
        margin: 0;
        flex-direction: column;
    }

    .displaybox {
        margin: 10svh auto;
        height: fit-content;
        width: 90svw !important;
        padding: 0;
        width: 100svw;
        align-items: center;
        justify-content: center;
    }

    .slideitem {
        width: 80svw;
        height: auto;
    }

    .img-contianer {
        margin: 0 auto;
    }

    .switches {
        width: 50svw;
        font-size: 1.1rem;
    }
    .buy-btn{
        margin-bottom: 1svh;
    }
}

@keyframes slideinRight {
    from {
        transform: translateX(30px);
    }
    to{
        transform: translateX(0px);
    }
}