:root {
    --selection-color: #0077ff9d;
    --scrollbar-thumb: #0077ff;
    --scrollbar-thumb-hover: #0060ce;
    --scrollbar-track: #0077ff21;
    --font:'Jost','comic sans ms';
    --font-poppin : "Poppins", sans-serif;
    --font-Neon-Rave: 'Neon Rave', sans-serif;
    --font-footer:'Funnel Display','Poppins',sans-serif;
    --root-bg: #17191f;
    /*
        
    ███╗░░██╗░█████╗░██╗░░░██╗██████╗░░█████╗░██████╗░
    ████╗░██║██╔══██╗██║░░░██║██╔══██╗██╔══██╗██╔══██╗
    ██╔██╗██║███████║╚██╗░██╔╝██████╦╝███████║██████╔╝
    ██║╚████║██╔══██║░╚████╔╝░██╔══██╗██╔══██║██╔══██╗
    ██║░╚███║██║░░██║░░╚██╔╝░░██████╦╝██║░░██║██║░░██║
    ╚═╝░░╚══╝╚═╝░░╚═╝░░░╚═╝░░░╚═════╝░╚═╝░░╚═╝╚═╝░░╚═╝
*/
    --nav-bar-background: #17191f;
    --button-on-hover: #1a1a1a;
    --button-active-bg: #fff;
    --button-active-font: #000;
    --button-text-color: #fff;

    /*
███████╗░█████╗░░█████╗░████████╗███████╗██████╗░
██╔════╝██╔══██╗██╔══██╗╚══██╔══╝██╔════╝██╔══██╗
█████╗░░██║░░██║██║░░██║░░░██║░░░█████╗░░██████╔╝
██╔══╝░░██║░░██║██║░░██║░░░██║░░░██╔══╝░░██╔══██╗
██║░░░░░╚█████╔╝╚█████╔╝░░░██║░░░███████╗██║░░██║
╚═╝░░░░░░╚════╝░░╚════╝░░░░╚═╝░░░╚══════╝╚═╝░░╚═╝
*/
    /* --footer-background: #4b4a4a; */
    /* --footer-background: linear-gradient(90deg, rgb(185 88 88 / 89%) 0%, rgba(144, 78, 37, 1) 50%, rgb(193 171 25) 100%); */
    --footer-background: #282b33;
    --footer-links-on-hover: rgb(132, 133, 241);

    /*
    
██╗░░██╗░█████╗░███╗░░░███╗███████╗██████╗░░█████╗░░██████╗░███████╗
██║░░██║██╔══██╗████╗░████║██╔════╝██╔══██╗██╔══██╗██╔════╝░██╔════╝
███████║██║░░██║██╔████╔██║█████╗░░██████╔╝███████║██║░░██╗░█████╗░░
██╔══██║██║░░██║██║╚██╔╝██║██╔══╝░░██╔═══╝░██╔══██║██║░░╚██╗██╔══╝░░
██║░░██║╚█████╔╝██║░╚═╝░██║███████╗██║░░░░░██║░░██║╚██████╔╝███████╗
╚═╝░░╚═╝░╚════╝░╚═╝░░░░░╚═╝╚══════╝╚═╝░░░░░╚═╝░░╚═╝░╚═════╝░╚══════╝
*/
    --home-main-heading-bg: #17191f;
    --home-main-heading-color: #e8e0e0;

    --home-display-border: #0077ff;
    --home-display-pack-select-button-bg: #fff;
    --home-display-pack-select-button-border: #fff;
    --home-display-pack-select-button-color: #fff;
    --home-display-pack-select-button-active-color: #000;
    --home-display-pack-select-button-active-border: #fff;
    --home-display-main-background: #0077ff1e;
    --home-display-buy-btn-bg: linear-gradient(135deg, #f34079 40%, #fc894d);
    --home-display-roster-btn-bg: #0077ff;
    --home-display-slideshow-bg: #0077ff;

    --discord-bg: #5865F2;
    --discord-text-color: #fff;

    --brief-background-color: #1c1e24;
    --brief-text-color: #ffffff;
    --home-brief-bg-glow: #0077ff;
    --brief-divider-color: #0077ff;

    --basic-text-color: #fff;
    --basics-tab-background: #17191f;
    --basic-block-background: #0077ff2d;
    --basic-block-border: #0077ff; 
    --basic-block-glow-color: #000;

    /*    
    ██████╗░░█████╗░░██████╗████████╗███████╗██████╗░██████╗░░█████╗░░██████╗░███████╗
    ██╔══██╗██╔══██╗██╔════╝╚══██╔══╝██╔════╝██╔══██╗██╔══██╗██╔══██╗██╔════╝░██╔════╝
    ██████╔╝██║░░██║╚█████╗░░░░██║░░░█████╗░░██████╔╝██████╔╝███████║██║░░██╗░█████╗░░
    ██╔══██╗██║░░██║░╚═══██╗░░░██║░░░██╔══╝░░██╔══██╗██╔═══╝░██╔══██║██║░░╚██╗██╔══╝░░
    ██║░░██║╚█████╔╝██████╔╝░░░██║░░░███████╗██║░░██║██║░░░░░██║░░██║╚██████╔╝███████╗
    ╚═╝░░╚═╝░╚════╝░╚═════╝░░░░╚═╝░░░╚══════╝╚═╝░░╚═╝╚═╝░░░░░╚═╝░░╚═╝░╚═════╝░╚══════╝
    */
    --roster-heading-background: rgb(182, 184, 174);
    --roster-block-background: rgb(17, 39, 58);

    /*

    ░██████╗██╗░░██╗░█████╗░░██╗░░░░░░░██╗░█████╗░░█████╗░░██████╗███████╗
    ██╔════╝██║░░██║██╔══██╗░██║░░██╗░░██║██╔══██╗██╔══██╗██╔════╝██╔════╝
    ╚█████╗░███████║██║░░██║░╚██╗████╗██╔╝██║░░╚═╝███████║╚█████╗░█████╗░░
    ░╚═══██╗██╔══██║██║░░██║░░████╔═████║░██║░░██╗██╔══██║░╚═══██╗██╔══╝░░
    ██████╔╝██║░░██║╚█████╔╝░░╚██╔╝░╚██╔╝░╚█████╔╝██║░░██║██████╔╝███████╗
    ╚═════╝░╚═╝░░╚═╝░╚════╝░░░░╚═╝░░░╚═╝░░░╚════╝░╚═╝░░╚═╝╚═════╝░╚══════╝
*/

    --showcase-main-block-bg: #050505;
    --showcase-video-background: #032144;
    --showcase-main-block-border: #0077ff;

    --mods-block-border: #0077ff;

    /*
        
██████╗░██████╗░██╗██╗░░░██╗░█████╗░░█████╗░██╗░░░██╗  ██████╗░░█████╗░░██████╗░███████╗
██╔══██╗██╔══██╗██║██║░░░██║██╔══██╗██╔══██╗╚██╗░██╔╝  ██╔══██╗██╔══██╗██╔════╝░██╔════╝
██████╔╝██████╔╝██║╚██╗░██╔╝███████║██║░░╚═╝░╚████╔╝░  ██████╔╝███████║██║░░██╗░█████╗░░
██╔═══╝░██╔══██╗██║░╚████╔╝░██╔══██║██║░░██╗░░╚██╔╝░░  ██╔═══╝░██╔══██║██║░░╚██╗██╔══╝░░
██║░░░░░██║░░██║██║░░╚██╔╝░░██║░░██║╚█████╔╝░░░██║░░░  ██║░░░░░██║░░██║╚██████╔╝███████╗
╚═╝░░░░░╚═╝░░╚═╝╚═╝░░░╚═╝░░░╚═╝░░╚═╝░╚════╝░░░░╚═╝░░░  ╚═╝░░░░░╚═╝░░╚═╝░╚═════╝░╚══════╝
    */

    --privacy-title-bg: #0077ff;
    --privacy-bg: #22242c;
    --privacy-text: #fff;
    --privacy-glow: #0077ff;

    /*
    
██████╗░░█████╗░░██╗░░░░░░░██╗███╗░░██╗██╗░░░░░░█████╗░░█████╗░██████╗░░██████╗
██╔══██╗██╔══██╗░██║░░██╗░░██║████╗░██║██║░░░░░██╔══██╗██╔══██╗██╔══██╗██╔════╝
██║░░██║██║░░██║░╚██╗████╗██╔╝██╔██╗██║██║░░░░░██║░░██║███████║██║░░██║╚█████╗░
██║░░██║██║░░██║░░████╔═████║░██║╚████║██║░░░░░██║░░██║██╔══██║██║░░██║░╚═══██╗
██████╔╝╚█████╔╝░░╚██╔╝░╚██╔╝░██║░╚███║███████╗╚█████╔╝██║░░██║██████╔╝██████╔╝
╚═════╝░░╚════╝░░░░╚═╝░░░╚═╝░░╚═╝░░╚══╝╚══════╝░╚════╝░╚═╝░░╚═╝╚═════╝░╚═════╝░
*/
    --downloads-title-bg: #0077ff;
    --downloads-block-bg: #0f172a;
    --downloads-btn-bg: #dc2626 ;



    --purchase-background: rgb(95, 94, 94);
    --purchase-border-color: #fff;
    --purchase-server-btn-background: #5865F2;
    --purchase-channel-btn-background: #5865F2;
    --purchase-pack-details-text: #fff;
    --purchase-outer-glow:#023350;
    --purchase-ticket-detail-bg:  #0e102980;

    --mods-display-background: #000;
    --mods-btn-background: #0077ff38;

    --sorter-background: #000;
    --sorter-tag-box-border: #0077ff;
    --sorter-tag-border:  #0077ff;
    --sorter-tag-bg:  #0077ff2d;
    --sorter-tag-active-border: #ff7300;
    --sorter-tag-active-bg: #ff730054;
    --sorter-applybtn-border: #0077ff;
    --sorter-applybtn-bg: #0077ff8f;
    
}