:root {
    
    --selection-color: #7a7a7a;
    --font:'Jost','comic sans ms';

    /*
        
    ███╗░░██╗░█████╗░██╗░░░██╗██████╗░░█████╗░██████╗░
    ████╗░██║██╔══██╗██║░░░██║██╔══██╗██╔══██╗██╔══██╗
    ██╔██╗██║███████║╚██╗░██╔╝██████╦╝███████║██████╔╝
    ██║╚████║██╔══██║░╚████╔╝░██╔══██╗██╔══██║██╔══██╗
    ██║░╚███║██║░░██║░░╚██╔╝░░██████╦╝██║░░██║██║░░██║
    ╚═╝░░╚══╝╚═╝░░╚═╝░░░╚═╝░░░╚═════╝░╚═╝░░╚═╝╚═╝░░╚═╝
*/
    --nav-bar-background: #4b4a4a;
    --button-on-hover: #1a1a1a;
    --button-active-bg: #fff;
    --button-active-font: #000;
    --button-text-color: #fff;

    /*
███████╗░█████╗░░█████╗░████████╗███████╗██████╗░
██╔════╝██╔══██╗██╔══██╗╚══██╔══╝██╔════╝██╔══██╗
█████╗░░██║░░██║██║░░██║░░░██║░░░█████╗░░██████╔╝
██╔══╝░░██║░░██║██║░░██║░░░██║░░░██╔══╝░░██╔══██╗
██║░░░░░╚█████╔╝╚█████╔╝░░░██║░░░███████╗██║░░██║
╚═╝░░░░░░╚════╝░░╚════╝░░░░╚═╝░░░╚══════╝╚═╝░░╚═╝
*/
    /* --footer-background: #4b4a4a; */
    --footer-background: linear-gradient(90deg, rgb(185 88 88 / 89%) 0%, rgba(144, 78, 37, 1) 50%, rgb(193 171 25) 100%);
    --footer-links-on-hover: rgb(132, 133, 241);

    /*
    
██╗░░██╗░█████╗░███╗░░░███╗███████╗██████╗░░█████╗░░██████╗░███████╗
██║░░██║██╔══██╗████╗░████║██╔════╝██╔══██╗██╔══██╗██╔════╝░██╔════╝
███████║██║░░██║██╔████╔██║█████╗░░██████╔╝███████║██║░░██╗░█████╗░░
██╔══██║██║░░██║██║╚██╔╝██║██╔══╝░░██╔═══╝░██╔══██║██║░░╚██╗██╔══╝░░
██║░░██║╚█████╔╝██║░╚═╝░██║███████╗██║░░░░░██║░░██║╚██████╔╝███████╗
╚═╝░░╚═╝░╚════╝░╚═╝░░░░░╚═╝╚══════╝╚═╝░░░░░╚═╝░░╚═╝░╚═════╝░╚══════╝
*/
    --home-main-heading-bg: rgb(182, 184, 174);

    --home-display-border: rgb(95, 94, 94);
    --home-display-pack-select-button-bg: #fff;
    --home-display-pack-select-button-border: #fff;
    --home-display-pack-select-button-color: #fff;
    --home-display-pack-select-button-active-color: #000;
    --home-display-pack-select-button-active-border: #fff;
    --home-display-main-background: transparent;
    --home-display-buy-btn-bg: rgb(187, 30, 3);

    --discord-bg: #5865F2;
    --discord-text-color: #fff;

    --brief-background-color: rgb(226, 180, 119);
    --brief-text-color: #000;

    --basics-tab-background: rgb(182, 184, 174);
    --basic-block-background: rgba(136, 136, 132, 0.692);
    --basic-block-glow-color: #000;

    /*    
    ██████╗░░█████╗░░██████╗████████╗███████╗██████╗░██████╗░░█████╗░░██████╗░███████╗
    ██╔══██╗██╔══██╗██╔════╝╚══██╔══╝██╔════╝██╔══██╗██╔══██╗██╔══██╗██╔════╝░██╔════╝
    ██████╔╝██║░░██║╚█████╗░░░░██║░░░█████╗░░██████╔╝██████╔╝███████║██║░░██╗░█████╗░░
    ██╔══██╗██║░░██║░╚═══██╗░░░██║░░░██╔══╝░░██╔══██╗██╔═══╝░██╔══██║██║░░╚██╗██╔══╝░░
    ██║░░██║╚█████╔╝██████╔╝░░░██║░░░███████╗██║░░██║██║░░░░░██║░░██║╚██████╔╝███████╗
    ╚═╝░░╚═╝░╚════╝░╚═════╝░░░░╚═╝░░░╚══════╝╚═╝░░╚═╝╚═╝░░░░░╚═╝░░╚═╝░╚═════╝░╚══════╝
    */
    --roster-heading-background: rgb(182, 184, 174);
    --roster-block-background: rgb(17, 39, 58);

    /*

    ░██████╗██╗░░██╗░█████╗░░██╗░░░░░░░██╗░█████╗░░█████╗░░██████╗███████╗
    ██╔════╝██║░░██║██╔══██╗░██║░░██╗░░██║██╔══██╗██╔══██╗██╔════╝██╔════╝
    ╚█████╗░███████║██║░░██║░╚██╗████╗██╔╝██║░░╚═╝███████║╚█████╗░█████╗░░
    ░╚═══██╗██╔══██║██║░░██║░░████╔═████║░██║░░██╗██╔══██║░╚═══██╗██╔══╝░░
    ██████╔╝██║░░██║╚█████╔╝░░╚██╔╝░╚██╔╝░╚█████╔╝██║░░██║██████╔╝███████╗
    ╚═════╝░╚═╝░░╚═╝░╚════╝░░░░╚═╝░░░╚═╝░░░╚════╝░╚═╝░░╚═╝╚═════╝░╚══════╝
*/

    --showcase-main-block-bg: rgb(59, 39, 16);
    --showcase-video-background: rgb(17, 39, 58);

    /*
    
    ███████╗██████╗░███████╗███████╗██████╗░░█████╗░░██████╗░███████╗
    ██╔════╝██╔══██╗██╔════╝██╔════╝██╔══██╗██╔══██╗██╔════╝░██╔════╝
    █████╗░░██████╔╝█████╗░░█████╗░░██████╔╝███████║██║░░██╗░█████╗░░
    ██╔══╝░░██╔══██╗██╔══╝░░██╔══╝░░██╔═══╝░██╔══██║██║░░╚██╗██╔══╝░░
    ██║░░░░░██║░░██║███████╗███████╗██║░░░░░██║░░██║╚██████╔╝███████╗
    ╚═╝░░░░░╚═╝░░╚═╝╚══════╝╚══════╝╚═╝░░░░░╚═╝░░╚═╝░╚═════╝░╚══════╝
    */

    --free-title-bg: rgb(182, 184, 174);
    --free-block-bg: rgba(0, 255, 255, 0.39);

    /*
        
███████╗██╗░░██╗░█████╗░██╗░░░░░██╗░░░██╗░██████╗██╗██╗░░░██╗███████╗
██╔════╝╚██╗██╔╝██╔══██╗██║░░░░░██║░░░██║██╔════╝██║██║░░░██║██╔════╝
█████╗░░░╚███╔╝░██║░░╚═╝██║░░░░░██║░░░██║╚█████╗░██║╚██╗░██╔╝█████╗░░
██╔══╝░░░██╔██╗░██║░░██╗██║░░░░░██║░░░██║░╚═══██╗██║░╚████╔╝░██╔══╝░░
███████╗██╔╝╚██╗╚█████╔╝███████╗╚██████╔╝██████╔╝██║░░╚██╔╝░░███████╗
╚══════╝╚═╝░░╚═╝░╚════╝░╚══════╝░╚═════╝░╚═════╝░╚═╝░░░╚═╝░░░╚══════╝
    */

    --exclusive-title: rgb(182, 184, 174);
    --exclusive-block-bg: rgb(17, 39, 58);

    /*
        
██████╗░██████╗░██╗██╗░░░██╗░█████╗░░█████╗░██╗░░░██╗  ██████╗░░█████╗░░██████╗░███████╗
██╔══██╗██╔══██╗██║██║░░░██║██╔══██╗██╔══██╗╚██╗░██╔╝  ██╔══██╗██╔══██╗██╔════╝░██╔════╝
██████╔╝██████╔╝██║╚██╗░██╔╝███████║██║░░╚═╝░╚████╔╝░  ██████╔╝███████║██║░░██╗░█████╗░░
██╔═══╝░██╔══██╗██║░╚████╔╝░██╔══██║██║░░██╗░░╚██╔╝░░  ██╔═══╝░██╔══██║██║░░╚██╗██╔══╝░░
██║░░░░░██║░░██║██║░░╚██╔╝░░██║░░██║╚█████╔╝░░░██║░░░  ██║░░░░░██║░░██║╚██████╔╝███████╗
╚═╝░░░░░╚═╝░░╚═╝╚═╝░░░╚═╝░░░╚═╝░░╚═╝░╚════╝░░░░╚═╝░░░  ╚═╝░░░░░╚═╝░░╚═╝░╚═════╝░╚══════╝
    */

    --privacy-title-bg: rgb(226, 128, 0);
    --privacy-bg: rgb(226, 180, 119);

    /*
    
██████╗░░█████╗░░██╗░░░░░░░██╗███╗░░██╗██╗░░░░░░█████╗░░█████╗░██████╗░░██████╗
██╔══██╗██╔══██╗░██║░░██╗░░██║████╗░██║██║░░░░░██╔══██╗██╔══██╗██╔══██╗██╔════╝
██║░░██║██║░░██║░╚██╗████╗██╔╝██╔██╗██║██║░░░░░██║░░██║███████║██║░░██║╚█████╗░
██║░░██║██║░░██║░░████╔═████║░██║╚████║██║░░░░░██║░░██║██╔══██║██║░░██║░╚═══██╗
██████╔╝╚█████╔╝░░╚██╔╝░╚██╔╝░██║░╚███║███████╗╚█████╔╝██║░░██║██████╔╝██████╔╝
╚═════╝░░╚════╝░░░░╚═╝░░░╚═╝░░╚═╝░░╚══╝╚══════╝░╚════╝░╚═╝░░╚═╝╚═════╝░╚═════╝░
*/
    --downloads-title-bg: #b91c1c;
    --downloads-block-bg: #0f172a;
    --downloads-btn-bg: #dc2626 ;



    --purchase-background: rgb(95, 94, 94);
    --purchase-border-color: #fff;
    --purchase-server-btn-background: #5865F2;
    --purchase-channel-btn-background: #5865F2;
    --purchase-pack-details-text: #fff;
    --purchase-outer-glow:#023350;
    --purchase-ticket-detail-bg:  #0e102980;
}