:root {
    --dominant-color: #0891b2;
    --complementory: #002c48;
    --accent: #f59432;
    --extra: #e6f4f1;
    
    
    --selection-color: #0890b28f;
    --font:'Jost','comic sans ms';

    /*
        
    ███╗░░██╗░█████╗░██╗░░░██╗██████╗░░█████╗░██████╗░
    ████╗░██║██╔══██╗██║░░░██║██╔══██╗██╔══██╗██╔══██╗
    ██╔██╗██║███████║╚██╗░██╔╝██████╦╝███████║██████╔╝
    ██║╚████║██╔══██║░╚████╔╝░██╔══██╗██╔══██║██╔══██╗
    ██║░╚███║██║░░██║░░╚██╔╝░░██████╦╝██║░░██║██║░░██║
    ╚═╝░░╚══╝╚═╝░░╚═╝░░░╚═╝░░░╚═════╝░╚═╝░░╚═╝╚═╝░░╚═╝
*/
    --nav-bar-background: var(--dominant-color);
    --button-on-hover: transparent;
    --button-border-on-hover: #faeaff;
    --button-active-bg: var(--complementory);
    --button-active-font: #faeaff;
    --button-text-color: #faeaff;

    /*
███████╗░█████╗░░█████╗░████████╗███████╗██████╗░
██╔════╝██╔══██╗██╔══██╗╚══██╔══╝██╔════╝██╔══██╗
█████╗░░██║░░██║██║░░██║░░░██║░░░█████╗░░██████╔╝
██╔══╝░░██║░░██║██║░░██║░░░██║░░░██╔══╝░░██╔══██╗
██║░░░░░╚█████╔╝╚█████╔╝░░░██║░░░███████╗██║░░██║
╚═╝░░░░░░╚════╝░░╚════╝░░░░╚═╝░░░╚══════╝╚═╝░░╚═╝
*/
    /* --footer-background: #4b4a4a; */
    --footer-background: var(--dominant-color);
    --footer-links-on-hover: rgb(132, 133, 241);

    /*
    
██╗░░██╗░█████╗░███╗░░░███╗███████╗██████╗░░█████╗░░██████╗░███████╗
██║░░██║██╔══██╗████╗░████║██╔════╝██╔══██╗██╔══██╗██╔════╝░██╔════╝
███████║██║░░██║██╔████╔██║█████╗░░██████╔╝███████║██║░░██╗░█████╗░░
██╔══██║██║░░██║██║╚██╔╝██║██╔══╝░░██╔═══╝░██╔══██║██║░░╚██╗██╔══╝░░
██║░░██║╚█████╔╝██║░╚═╝░██║███████╗██║░░░░░██║░░██║╚██████╔╝███████╗
╚═╝░░╚═╝░╚════╝░╚═╝░░░░░╚═╝╚══════╝╚═╝░░░░░╚═╝░░╚═╝░╚═════╝░╚══════╝
*/
    --root-bg: var(--complementory);
    --home-main-heading-bg: var(--complementory);
    --home-main-heading-color: #    --home-display-buy-btn-bg: linear-gradient(135deg, #f34079 40%, #fc894d);
    ;

    --home-display-border: #1e1926;
    --home-display-pack-select-button-bg: #fff;
    --home-display-pack-select-button-border: #fff;
    --home-display-pack-select-button-color: #fff;
    --home-display-pack-select-button-active-color: #000;
    --home-display-pack-select-button-active-border: #fff;
    --home-display-main-background: var(--dominant-color);
    --home-display-buy-btn-bg: linear-gradient(135deg, #f34079 40%, #fc894d);
    /* --home-display-buy-btn-color: var(--dominant-color); */

    --discord-bg: #6772ee;
    --discord-text-color: #fff;
    --discord-shadow: #000;

    --brief-background-color: var(--dominant-color);
    --brief-text-color: #faeaff;

    --basics-tab-background: var(--dominant-color);
    --basic-block-background: #faeaff;
    --basic-block-glow-color: #d0c7d3;
    --basic-color: #faeaff;
    --basic-block-color: var(--dominant-color);

    /*    
    ██████╗░░█████╗░░██████╗████████╗███████╗██████╗░██████╗░░█████╗░░██████╗░███████╗
    ██╔══██╗██╔══██╗██╔════╝╚══██╔══╝██╔════╝██╔══██╗██╔══██╗██╔══██╗██╔════╝░██╔════╝
    ██████╔╝██║░░██║╚█████╗░░░░██║░░░█████╗░░██████╔╝██████╔╝███████║██║░░██╗░█████╗░░
    ██╔══██╗██║░░██║░╚═══██╗░░░██║░░░██╔══╝░░██╔══██╗██╔═══╝░██╔══██║██║░░╚██╗██╔══╝░░
    ██║░░██║╚█████╔╝██████╔╝░░░██║░░░███████╗██║░░██║██║░░░░░██║░░██║╚██████╔╝███████╗
    ╚═╝░░╚═╝░╚════╝░╚═════╝░░░░╚═╝░░░╚══════╝╚═╝░░╚═╝╚═╝░░░░░╚═╝░░╚═╝░╚═════╝░╚══════╝
    */
    --roster-heading-background: rgb(182, 184, 174);
    --roster-block-background: rgb(17, 39, 58);

    /*

    ░██████╗██╗░░██╗░█████╗░░██╗░░░░░░░██╗░█████╗░░█████╗░░██████╗███████╗
    ██╔════╝██║░░██║██╔══██╗░██║░░██╗░░██║██╔══██╗██╔══██╗██╔════╝██╔════╝
    ╚█████╗░███████║██║░░██║░╚██╗████╗██╔╝██║░░╚═╝███████║╚█████╗░█████╗░░
    ░╚═══██╗██╔══██║██║░░██║░░████╔═████║░██║░░██╗██╔══██║░╚═══██╗██╔══╝░░
    ██████╔╝██║░░██║╚█████╔╝░░╚██╔╝░╚██╔╝░╚█████╔╝██║░░██║██████╔╝███████╗
    ╚═════╝░╚═╝░░╚═╝░╚════╝░░░░╚═╝░░░╚═╝░░░╚════╝░╚═╝░░╚═╝╚═════╝░╚══════╝
*/

    --showcase-main-block-bg: rgb(59, 39, 16);
    --showcase-video-background: rgb(17, 39, 58);

    /*
    
    ███████╗██████╗░███████╗███████╗██████╗░░█████╗░░██████╗░███████╗
    ██╔════╝██╔══██╗██╔════╝██╔════╝██╔══██╗██╔══██╗██╔════╝░██╔════╝
    █████╗░░██████╔╝█████╗░░█████╗░░██████╔╝███████║██║░░██╗░█████╗░░
    ██╔══╝░░██╔══██╗██╔══╝░░██╔══╝░░██╔═══╝░██╔══██║██║░░╚██╗██╔══╝░░
    ██║░░░░░██║░░██║███████╗███████╗██║░░░░░██║░░██║╚██████╔╝███████╗
    ╚═╝░░░░░╚═╝░░╚═╝╚══════╝╚══════╝╚═╝░░░░░╚═╝░░╚═╝░╚═════╝░╚══════╝
    */

    --free-title-bg: rgb(182, 184, 174);
    --free-block-bg: rgba(0, 255, 255, 0.39);

    /*
        
███████╗██╗░░██╗░█████╗░██╗░░░░░██╗░░░██╗░██████╗██╗██╗░░░██╗███████╗
██╔════╝╚██╗██╔╝██╔══██╗██║░░░░░██║░░░██║██╔════╝██║██║░░░██║██╔════╝
█████╗░░░╚███╔╝░██║░░╚═╝██║░░░░░██║░░░██║╚█████╗░██║╚██╗░██╔╝█████╗░░
██╔══╝░░░██╔██╗░██║░░██╗██║░░░░░██║░░░██║░╚═══██╗██║░╚████╔╝░██╔══╝░░
███████╗██╔╝╚██╗╚█████╔╝███████╗╚██████╔╝██████╔╝██║░░╚██╔╝░░███████╗
╚══════╝╚═╝░░╚═╝░╚════╝░╚══════╝░╚═════╝░╚═════╝░╚═╝░░░╚═╝░░░╚══════╝
    */

    --exclusive-title: rgb(182, 184, 174);
    --exclusive-block-bg: rgb(17, 39, 58);

    /*
        
██████╗░██████╗░██╗██╗░░░██╗░█████╗░░█████╗░██╗░░░██╗  ██████╗░░█████╗░░██████╗░███████╗
██╔══██╗██╔══██╗██║██║░░░██║██╔══██╗██╔══██╗╚██╗░██╔╝  ██╔══██╗██╔══██╗██╔════╝░██╔════╝
██████╔╝██████╔╝██║╚██╗░██╔╝███████║██║░░╚═╝░╚████╔╝░  ██████╔╝███████║██║░░██╗░█████╗░░
██╔═══╝░██╔══██╗██║░╚████╔╝░██╔══██║██║░░██╗░░╚██╔╝░░  ██╔═══╝░██╔══██║██║░░╚██╗██╔══╝░░
██║░░░░░██║░░██║██║░░╚██╔╝░░██║░░██║╚█████╔╝░░░██║░░░  ██║░░░░░██║░░██║╚██████╔╝███████╗
╚═╝░░░░░╚═╝░░╚═╝╚═╝░░░╚═╝░░░╚═╝░░╚═╝░╚════╝░░░░╚═╝░░░  ╚═╝░░░░░╚═╝░░╚═╝░╚═════╝░╚══════╝
    */

    --privacy-title-bg: rgb(226, 128, 0);
    --privacy-bg: rgb(226, 180, 119);

    /*
    
██████╗░░█████╗░░██╗░░░░░░░██╗███╗░░██╗██╗░░░░░░█████╗░░█████╗░██████╗░░██████╗
██╔══██╗██╔══██╗░██║░░██╗░░██║████╗░██║██║░░░░░██╔══██╗██╔══██╗██╔══██╗██╔════╝
██║░░██║██║░░██║░╚██╗████╗██╔╝██╔██╗██║██║░░░░░██║░░██║███████║██║░░██║╚█████╗░
██║░░██║██║░░██║░░████╔═████║░██║╚████║██║░░░░░██║░░██║██╔══██║██║░░██║░╚═══██╗
██████╔╝╚█████╔╝░░╚██╔╝░╚██╔╝░██║░╚███║███████╗╚█████╔╝██║░░██║██████╔╝██████╔╝
╚═════╝░░╚════╝░░░░╚═╝░░░╚═╝░░╚═╝░░╚══╝╚══════╝░╚════╝░╚═╝░░╚═╝╚═════╝░╚═════╝░
*/
    --downloads-title-bg: #b91c1c;
    --downloads-block-bg: #0f172a;
    --downloads-btn-bg: #dc2626 ;



    --purchase-background: rgb(95, 94, 94);
    --purchase-border-color: #fff;
    --purchase-server-btn-background: #5865F2;
    --purchase-channel-btn-background: #5865F2;
    --purchase-pack-details-text: #fff;
    --purchase-outer-glow:#023350;
    --purchase-ticket-detail-bg:  #0e102980;
}